/* div, main, section, header, footer, article, nav, aside, form
{border: 1px solid black;} */



/* 프로필을 담는 컨테이너 */
#settingsContainer {
    text-align: center !important;
    margin-top: 50px;
    line-height: 1.5;
    width: 80%;
    max-width: 620px;  /* 920px이 너무 커서 620px로 줄여서 맞춤 */
}

/* 이미지 미리보기 화면 */           
#imageContainer {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    border: 1px solid #ccc;
}

/* 닉네임 텍스트 */  
.settings-nickname {
    color: black;
    font-size: 20px;
    margin-top: 25px;
    text-align: center !important;
}

/* 유저 등록일 */  
.settings-endroll-date {
    font-size: 12px;
    margin-bottom: 50px;
    margin-top: 5px;
    text-align: center !important;
    color: #737273;
}

/* 프로필 및 기본 설정 타이틀 */
.settings-text-title{
    display: block;
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    padding-left: 4px;
    margin-top: 25px;
    margin-bottom: 10px;
}

/* 프로필 및 기본 설정 타이틀에 붙는 로고 이미지 */
.settings-text-title > img {
    width: 20px;
}

/* 프로필 및 기본 설정 타이틀에 붙는 설명 텍스트*/
#settingTextSub {
    padding-bottom: 15px;
    text-align: left;
    font-size: 15px;
    color: #737273;
    margin-bottom: 80px;
}

/* 설정 항목 텍스트 공간 */
.setting-text-area {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dbd9db;
}

/* 설정 항목 텍스트 */
.settings-text{
    width: 83%;
    min-height: 1px;

    padding-left: 10px;
    padding-right: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    
    font-size: 16px !important;
    font-weight: bold;
    line-height: 1.5;
    text-align: left;
    
    cursor: pointer;
}

/* 우측 방향 버튼을 넣는 공간 */
.setting-text-area > div {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 15px;
    margin-bottom: 15px;

    font-size: 16px !important;
    font-weight: bold;
    line-height: 1.5;
    text-align: left;
}

/* 닉네임 부분 프레임 */
#editProfileInputName {
    display: flex;
    justify-content: space-between;
}

/* Edit Profile 페이지의 input (width 80%) */
.edit-profile-input {
    display: inline-block;
    width: 80%;
    height: 50px;
    padding : 10px;
    border: 1px solid #dbd9db;
    border-radius: 5px;
}

/* 자기소개 작성을 위한 textarea */
#editProfileDescription {
    overflow: hidden;
    resize: none;
    width: 100%;
    height: 172px;
    padding: 10px;
    border: 1px solid #dbd9db;
    border-radius: 5px;
    display: block;
}


/* 중복확인, 주소찾기 버튼 */
.edit-profile-btn {
    background-color: #ffffff;
    border-radius: 5px;
    width: 17%;
    color: #2DB400;
    border : 1px solid #dbd9db;
    font-weight: bold;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
    cursor: pointer;
}

/* Edit Prifile 페이지의 input (width 100%) */
.edit-profile-input-long {
    display: inline-block;
    width: 100%;
    height: 50px;
    padding : 10px;
    border: 1px solid #dbd9db;
    border-radius: 5px;
}

/* 저장, 취소 버튼을 오른쪽으로 두기 위한 div...shit */
.goRight {
    display: flex;
}

/* 저장, 취소 버튼을 담은 프레임 */
.submit-cancel-button-frame {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
    display: flex;
    justify-content: flex-end;
}

/* 저장, 취소 버튼 클래스*/
.submit-cancel-button {
    display: inline-block;
    width: 80px;
    height: 40px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    border : 2px solid #2DB400;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
    cursor : pointer;
    margin: 5px;
}

/* 저장 버튼 */
#submit{
    background-color: #2DB400;
    color: #ffffff;
}

/* 취소 버튼 */
#cancel{
    background-color: #ffffff;
    color: #2DB400;
}
