<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>회원 정보</h1>
    <table th:object="${user}">
        <tr>
            <td>회원번호</td>
            <td>회원아이디</td>
            <td>회원이름</td>
            <td>회원나이</td>
        </tr>
        <tr>
            <td th:text="*{userNo}">회원번호</td>
            <td th:text="*{userId}">회원아이디</td>
            <td th:text="*{userName}">회원이름</td>
            <td th:text="*{userAge}">회원나이</td>
        </tr>
    </table>
</body>
</html>